*									{ margin: 0; padding: 0; }
body,html{
    font-family: 'Roboto Condensed', sans-serif;
}
.margin-top{
    margin-top: 7%;
}
ul{
    padding-left: 0;
}
ul li{
    list-style-type: none;
}


#page-wrap							{ width: 700px; margin: 25px auto; }


.ui-tabs 							{ zoom: 1; }
.ui-tabs .ui-tabs-nav 				{ list-style: none; position: relative; padding: 2px 2px 0; overflow: hidden; 
                            top: 1px; z-index: 1000; }
.ui-tabs .ui-tabs-nav li 			{ position: relative; float: left; border: 1px solid #ccc; 
                              border-bottom-width: 0 !important; margin: 0 2px -1px 0; background: #ccc; }
.ui-tabs .ui-tabs-nav li a 			{ float: left; text-decoration: none; padding: 5px 10px; color: black; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected 				{ padding-bottom: 1px; border-bottom-width: 0; background: white; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected a, .ui-tabs 
.ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav 
li.ui-state-processing a 			{ cursor: text; }
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible 
.ui-tabs-nav li.ui-tabs-selected a  { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel 			{ padding: 20px; display: block; border-width: 0; background: none; 
                             position: relative; min-height: 200px; }
.ui-tabs .ui-tabs-hide 				{ display: none !important; }


.next-tab 							{ bottom: 0; right: 0;  }
.prev-tab 							{ bottom: 0; left: 0;}
a.mover {
padding: 7px 14px;
position: absolute;
text-decoration: none;
border: 1px solid #ccc;
border-radius: 20px;
color: #333;
background-color: #fff;
font-size: 18px;
}

a.mover:hover {
color: #333;
background-color: #e6e6e6;
border-color: #adadad;
}


.ui-tabs .ui-tabs-nav {
display: none;
}
ul, ol {
margin-top: 0;
margin-bottom: 45px;
}
h4, .h4 {
font-size: 25px;
}
.radio label, .checkbox label {
font-size: 19px;
}
a.mover {
margin-left: 450px;
}
b, strong {
font-size: 20px;
}
input[type=radio], input[type=checkbox] {
margin: 9px 0 0;
margin-top: 1px \9;
line-height: normal;
}
button.btn.btn-default.check-button {
border-radius: 20px;
font-size: 18px;
}
